@use '/src/styles/_variables.scss' as v;


.container{
    width: 100%;
    background-color: v.$complyColor;
    box-sizing: border-box;
    padding-inline: 20vw;
    padding-block: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container > h2 {
    text-align: center;
    color: v.$white;
    margin-top: 0;
    margin-bottom: 3rem;
}
.container > p {
    text-align: center;
    font-size: 1.1rem;
    color: rgba(247, 247, 247,0.9);
    margin: 0;
}


@media only screen and (min-width: 0px) and (max-width:640px) {
    .container{
       padding-inline: 7.5vw;
    }

}
 @media only screen and (min-width: 640px) and (max-width:992px){
}
    
@media only screen and (min-width: 992px) and (max-width:1200px) {
    
}
@media only screen and (min-width: 1200px) {
    
}