html , body , #root{
    margin: 0;
    font-family: 'Playfair Display' , sans-serif;
    background-color: #f7f7f7;
    scroll-behavior: smooth;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.25rem;
}
p{
    font-size: 1.1rem;
    line-height: 2rem;
}