@use '/src/styles/_variables.scss' as v;


.container {
     width: 100%;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     overflow: hidden;
}
.container > h2 {
    margin-block: 3rem;
    color: v.$primaryColor;
}
.container > article {
    width: 100%;
    height: 40vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-inline: 60px;
    box-sizing: border-box;
    overflow: hidden;

}
.container > article > span {
    display: block;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    position: absolute;
}
.container > article > span > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}

.container > article > div {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container > article > div > img {
    height: 12.5vh;
}

@media only screen and (min-width: 0px) and (max-width:640px) {
    .container > article {

        flex-direction: row;
        padding: 0;
        height: auto;
        padding-block: 2rem;
        gap: 2rem;
        align-items: center;
    }
    .container > article > div {
        width: 40%;
    }
    .container > article > span {
        height: 100%;
    }
    .container > article > div > img {
        width: 100%;
        object-fit: contain;
    }
}
 @media only screen and (min-width: 640px) and (max-width:992px){
}
    
@media only screen and (min-width: 992px) and (max-width:1200px) {
    
}
@media only screen and (min-width: 1200px) {
    
}