@use '/src/styles/_variables.scss' as v;


.container{
    width: 100%;
    background-color: v.$complyColor;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-inline: 7.5vw;
    padding-block:3rem ;
    box-sizing: border-box;
}
.container > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}
.container > article > h2 {
    color: v.$white;
    margin-top: 0;
}
.container > article > p {
    text-align: center;
    width: 80%;
    color: v.$white;
    margin-bottom: 0;
}

@media only screen and (min-width: 0px) and (max-width:640px) {
    .container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .container > article {
        width: 75%;
    }
    .container > article > h2 {
        margin: 0;
    }
}
 @media only screen and (min-width: 640px) and (max-width:992px){
}
    
@media only screen and (min-width: 992px) and (max-width:1200px) {
    
}
@media only screen and (min-width: 1200px) {
    
}